:root {
    --bg: hsl(230, 17%, 14%);
    --top-bg: hsl(232, 19%, 15%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(228, 34%, 66%);
    --border-color: hsl(0, 0%, 100%); 
    --card-bg: hsl(228, 28%, 20%);

    --hover: #333A56;

    --up-fllwr: hsl(163, 72%, 41%);
    --down-fllwr: hsl(356, 69%, 56%);
}
