.lightMode {
    --bg: hsl(0, 0%, 100%);
    --top-bg: hsl(225, 100%, 98%);
    --title-color: hsl(230, 17%, 14%);
    --text-color: hsl(228, 12%, 44%);
    --border-color: hsl(228, 12%, 44%); 
    --card-bg: hsl(227, 47%, 96%);

    --hover: #E1E3F0;
}

