* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: var(--bg);
}

.container {
    margin: -4.8rem 8% 0 8%;

}